<div class="container">
  <div class="title">Logare</div>
  <div class="content">
    <form  [formGroup]="users"  (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate autocomplete="off">

  <div class="input">

    <mat-form-field  >
      <mat-label>Numele de utilizator</mat-label>
      <input matInput required formControlName="username"  minlength="3" maxlength="20" >
      <mat-error *ngIf="checkError('username','required')">
        Introduceti numele de utilizator
      </mat-error>
      <mat-error *ngIf="checkError('username','minlength')">
        Numele de utilizator trebuie sa aiba minim 3 caractere
      </mat-error>
      <mat-error *ngIf="checkError('username','maxlength')">
        Numele de utilizator trebuie sa aiba maxim 20 caractere
      </mat-error>
    </mat-form-field>
  </div>
  <div class="input" >
    <mat-form-field   >
      <mat-label>Parola</mat-label>
      <input matInput   formControlName="password" type="password"  required  minlength="8" maxlength="32" >
      <mat-error *ngIf="checkError('password','required')">
        Introduceti parola
      </mat-error>
      <mat-error *ngIf="checkError('password','minlength')">
        Parola trebuie sa aiba minim 8 caractere
      </mat-error>
      <mat-error *ngIf="checkError('password','maxlength')">
        Parola trebuie sa aiba maxim 32 caractere
      </mat-error>





    </mat-form-field>



</div>


      <div class="button">
        <input type="submit" value="LogIn">
      </div>
      <p>Nu aveti cont? <a class="create" >Creati unul</a></p>






    </form>
  </div>
</div>
