<div class="container">
  <div class="title">{{ data.dynamicConfigs['LogIn'] }}</div>
  <div class="content">
    <form
      [formGroup]="users"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
      autocomplete="off"
    >
      <div class="input">
        <mat-form-field appearance="outline">
          <mat-label>{{ data.dynamicConfigs['Username'] }}</mat-label>
          <input matInput required formControlName="username" minlength="3" />
          <mat-error
            *ngIf="checkError('username', 'required') && language === 'EN'"
          >
            {{ error('Username', 'is required') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('username', 'required') && language === 'RO'"
          >
            {{ error('Numele utilizatorului', 'este necesar') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('username', 'minlength') && language === 'EN'"
          >
            {{ error('Username', 'has min length of 3 characters') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('username', 'minlength') && language === 'RO'"
          >
            {{
              error(
                'Numele utilizatorului',
                'are lungimea minima de 3 caractere'
              )
            }}
          </mat-error>
          <mat-error
            *ngIf="checkError('username', 'maxlength') && language === 'EN'"
          >
            {{ error('Username', 'has max length of 20 characters') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('username', 'maxlength') && language === 'RO'"
          >
            {{
              error(
                'Numele utilizatorului',
                'are lungimea maxima de 20 de charactere'
              )
            }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <mat-form-field appearance="outline">
          <mat-label>{{ data.dynamicConfigs['Email'] }}</mat-label>
          <input matInput required formControlName="email" />
          <mat-error
            *ngIf="checkError('email', 'required') && language === 'EN'"
          >
            {{ error('Email', 'is required') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('email', 'required') && language === 'RO'"
          >
            {{ error('Email', 'este necesar') }}
          </mat-error>
          <mat-error *ngIf="checkError('email', 'email') && language === 'EN'">
            {{ error('Email', 'must contains @') }}
          </mat-error>
          <mat-error *ngIf="checkError('email', 'email') && language === 'RO'">
            {{ error('Email-ul', 'trebuie sa contina @') }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <mat-form-field appearance="outline">
          <mat-label>{{ data.dynamicConfigs['Password'] }}</mat-label>

          <input
            matInput
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            required
            minlength="8"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? 'visibility_off' : 'visibility'
          }}</mat-icon>
          <mat-error
            *ngIf="checkError('password', 'required') && language === 'EN'"
          >
            {{ error('Password', 'is required') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('password', 'required') && language === 'RO'"
          >
            {{ error('Parola', 'este necesara') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('password', 'minlength') && language === 'EN'"
          >
            {{ error('Password', 'has min length of 8 characters') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('password', 'minlength') && language === 'RO'"
          >
            {{ error('Parola', 'are lungimea minima de 8 caractere') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('password', 'maxlength') && language === 'EN'"
          >
            {{ error('Password', 'has max length of 32 characters') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('password', 'maxlength') && language === 'RO'"
          >
            {{ error('Parola', 'are lungimea maxima de 32 characters') }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="button">
        <input type="submit" [value]="data.dynamicConfigs['LogIn']" />
      </div>
      <div>
        <a class="forgot" (click)="forgotPassword()">{{
          data.dynamicConfigs['ForgotPassword']
        }}</a>
      </div>
      <p>
        {{ data.dynamicConfigs['NoAccount'] }}
        <a class="create" (click)="goToRegister()">{{
          data.dynamicConfigs['Create']
        }}</a>
      </p>
    </form>
  </div>
</div>
