<div *ngIf="cartItems.length === 0" class="container-fluid">
  <h2>There are no items in your cart</h2>
</div>
<div class="container-fluid border-box" *ngIf="cartItems.length > 0">
  <div *ngFor="let item of cartItems" class="row">
    <div class="col-3">
      <img
        class="item-image"
        src="{{ getMainPhoto(item.menuItem) }}"
        alt="No image"
      />
    </div>
    <div class="col-3">
      {{ item.menuItem.itemName }}
    </div>
    <div class="col-3">
      <form [formGroup]="ItemForm" novalidate autocomplete="off">
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input
            matInput
            type="number"
            [ngModel]="1"
            formControlName="quantity"
            min="0"
          />
        </mat-form-field>
      </form>
    </div>
    <div class="col-3">
      <mat-icon
        matTooltip="Delete from cart"
        class="delete-icon"
        (click)="deleteFromCart(item.menuItem)"
        >delete_outline</mat-icon
      >
    </div>
  </div>
  <div class="price-info">
    Final price of your order is {{ calculateFinalPrice() }} lei
  </div>
  <div class="order-button">
    <button mat-raised-button color="primary" (click)="makeOrder()">
      Make order
    </button>
  </div>
</div>
