<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="users">
    <form [formGroup]="users">
      <ng-template matStepLabel>Fill out your personal details</ng-template>
      <div class="row input">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input
              matInput
              formControlName="phone"
              required
              minlength="3"
              maxlength="10"
            />

            <mat-error *ngIf="checkUsersError('phone', 'required')">
              {{ error('phone', 'is required') }}
            </mat-error>
            <mat-error *ngIf="checkUsersError('phone', 'minlength')">
              {{ error('phone', 'has min length of 3 characters') }}
            </mat-error>
            <mat-error *ngIf="checkUsersError('phone', 'maxlength')">
              {{ error('phone', 'has max length of 10 characters') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required />
            <mat-error *ngIf="checkUsersError('email', 'required')">
              {{ error('email', 'is required') }}
            </mat-error>
            <mat-error *ngIf="checkUsersError('email', 'email')">
              {{ error('email', 'must contains @') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row input">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input
              matInput
              required
              formControlName="username"
              minlength="3"
              maxlength="20"
            />
            <mat-error *ngIf="checkUsersError('username', 'required')">
              {{ error('username', 'required') }}
            </mat-error>
            <mat-error *ngIf="checkUsersError('username', 'minlength')">
              {{ error('username', 'has min length of 3 characters') }}
            </mat-error>
            <mat-error *ngIf="checkUsersError('username', 'maxlength')">
              {{ error('username', 'has max length of 20 characters') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              required
              type="password"
              minlength="8"
              maxlength="32"
            />

            <mat-error *ngIf="checkUsersError('password', 'required')">
              {{ error('password', 'required') }}
            </mat-error>
            <mat-error *ngIf="checkUsersError('password', 'minlength')">
              {{ error('password', 'has max length of 8 characters') }}
            </mat-error>
            <mat-error *ngIf="checkUsersError('password', 'maxlength')">
              {{ error('password', 'has max length of 32 characters') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="address" label="Fill out your address">
    <form [formGroup]="address">
      <div class="row input">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Street</mat-label>
            <input
              matInput
              formControlName="street"
              required
              minlength="3"
              maxlength="10"
            />

            <mat-error *ngIf="checkAddressError('street', 'required')">
              {{ error('street', 'is required') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput formControlName="number" required />
            <mat-error *ngIf="checkAddressError('number', 'required')">
              {{ error('Number', 'is required') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row input">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input
              matInput
              required
              formControlName="city"
              minlength="3"
              maxlength="20"
            />
            <mat-error *ngIf="checkAddressError('city', 'required')">
              {{ error('city', 'required') }}
            </mat-error>
            <mat-error *ngIf="checkAddressError('city', 'minlength')">
              {{ error('city', 'has min length of 3 characters') }}
            </mat-error>
            <mat-error *ngIf="checkAddressError('city', 'maxlength')">
              {{ error('city', 'has max length of 20 characters') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Postal Code</mat-label>
            <input
              matInput
              formControlName="postalCode"
              required
              minlength="3"
              maxlength="20"
            />

            <mat-error *ngIf="checkAddressError('postalCode', 'required')">
              {{ error('Postal Code', 'required') }}
            </mat-error>
            <mat-error *ngIf="checkAddressError('postalCode', 'minlength')">
              {{ error('Postal Code', 'has mim length of 3 characters') }}
            </mat-error>
            <mat-error *ngIf="checkAddressError('postalCode', 'maxlength')">
              {{ error('Postal Code', 'has max length of 20 characters') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onSubmit()">Finish registration</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
