<!-- <delivery-app-client-navbar></delivery-app-client-navbar>
<div class="container-nav">
  <h2>{{ data.dynamicConfigs['ProfilePageTitle'] }}</h2>
</div>
<div class="container-nav">
  <h2>{{ data.dynamicConfigs['ProfilePageHeader'] }}</h2>
</div>
<div class="container-nav">
  <img class="user-image" src="{{ user.photos[0] }}" alt="No image" />
  <mat-icon color="primary" (click)="openFile()"
    >edit
    <input type="file" style="display: none" (change)="handle($event)" />
  </mat-icon>
</div>
<div class="container-nav">
  <mat-stepper>
    <mat-step
      [stepControl]="userDetails"
      [label]="data.dynamicConfigs['AddressLabel']"
    >
      <form [formGroup]="userDetails" class="user">
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ data.dynamicConfigs['Street'] }}</mat-label>
              <input
                matInput
                formControlName="street"
                [readonly]="disabledFields[1].disabled"
              />
            </mat-form-field>

            <mat-icon color="primary" (click)="makeInputEditable(1)"
              >edit</mat-icon
            >
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ data.dynamicConfigs['Number'] }}</mat-label>
              <input
                matInput
                formControlName="number"
                [readonly]="disabledFields[2].disabled"
              />
            </mat-form-field>
            <mat-icon color="primary" (click)="makeInputEditable(2)"
              >edit</mat-icon
            >
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ data.dynamicConfigs['City'] }}</mat-label>
              <input
                matInput
                formControlName="city"
                [readonly]="disabledFields[3].disabled"
              />
            </mat-form-field>
            <mat-icon color="primary" (click)="makeInputEditable(3)"
              >edit</mat-icon
            >
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ data.dynamicConfigs['PostalCode'] }}</mat-label>
              <input
                matInput
                formControlName="postalCode"
                [readonly]="disabledFields[4].disabled"
              />
            </mat-form-field>

            <mat-icon color="primary" (click)="makeInputEditable(4)"
              >edit</mat-icon
            >
          </div>
        </div>

        <button mat-button matStepperNext>
          {{ data.dynamicConfigs['Next'] }}
        </button>
      </form>
    </mat-step>
    <mat-step
      [stepControl]="userDetails"
      [label]="data.dynamicConfigs['ConfigLabel']"
    >
      <form [formGroup]="userDetails" class="user">
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ data.dynamicConfigs['Weight'] }}</mat-label>
              <input
                matInput
                formControlName="weight"
                [readonly]="disabledFields[7].disabled"
              />
            </mat-form-field>

            <mat-icon color="primary" (click)="makeInputEditable(7)"
              >edit</mat-icon
            >
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ data.dynamicConfigs['Height'] }}</mat-label>
              <input
                matInput
                formControlName="height"
                [readonly]="disabledFields[8].disabled"
              />
            </mat-form-field>
            <mat-icon color="primary" (click)="makeInputEditable(8)"
              >edit</mat-icon
            >
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ data.dynamicConfigs['Age'] }}</mat-label>
              <input
                matInput
                formControlName="age"
                [readonly]="disabledFields[9].disabled"
              />
            </mat-form-field>
            <mat-icon color="primary" (click)="makeInputEditable(9)"
              >edit</mat-icon
            >
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ data.dynamicConfigs['SportActivity'] }}</mat-label>
              <mat-select formControlName="sportActivity">
                <mat-option
                  *ngFor="let sportActivityValue of sportActivity"
                  [value]="sportActivityValue"
                >
                  {{ sportActivityValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <button mat-button matStepperPrevious>
          {{ data.dynamicConfigs['Previous'] }}
        </button>

        <button mat-button (click)="updateProfile()">
          {{ data.dynamicConfigs['UpdateProfile'] }}
        </button>
      </form>
    </mat-step>
  </mat-stepper>
</div> -->
