.table-offer {
  padding-left: 100px;
}
.nodata {
  display: flex;
  align-content: center;
  justify-content: center;
}
.title {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.example-card {
  width: 300px;
}

.cards {
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 20px;
}
