<delivery-client-navbar></delivery-client-navbar>
<div class="grid-container">
  <div class="grid-item">
    <h2>{{ menuItem.itemName }}</h2>
  </div>
</div>
<div class="container">Ingredients used:</div>

<div class="container">
  <ul>
    <div *ngFor="let ingredient of ingredients">
      <li>{{ ingredient }}</li>
    </div>
  </ul>
</div>
<div class="container" *ngIf="reviewsForMenuItem.length > 0">
  Our clients opinions about this menu item
</div>

<delivery-reviews
  [menuItemId]="id"
  [rowData]="reviewsForMenuItem"
></delivery-reviews>
