<div class="grid-container">
  <div class="grid-item">
    <h2>{{ data.dynamicConfigs[menuItem.itemName] }}</h2>
  </div>
</div>
<div class="container-nav" *ngIf="menuItem.photos.length === 1">
  <img src="{{ menuItem.photos[0].url }}" alt="No image" />
</div>
<div class="container-nav" *ngIf="menuItem.photos.length > 1">
  <delivery-app-client-carousel
    [images]="getImagesUrls(menuItem)"
  ></delivery-app-client-carousel>
</div>

<div class="container-nav">{{ data.dynamicConfigs['IngredientHeader'] }}</div>

<div class="container-nav">
  <ul>
    <div *ngFor="let ingredient of ingredients">
      <li>{{ data.dynamicConfigs[ingredient] }}</li>
    </div>
  </ul>
</div>
<div class="container-nav" *ngIf="reviewsForMenuItem.length > 0">
  {{ data.dynamicConfigs['ReviewHeader'] }}
</div>

<delivery-app-client-reviews
  [menuItemId]="id"
  [dynamicConfigs]="data.dynamicConfigs"
></delivery-app-client-reviews>
