<div class="container-nav">
  {{ data.dynamicConfigs['Hi'] }}, {{ user.username | titlecase }}!
</div>
<div class="container-nav">
  {{ data.dynamicConfigs['Welcome'] }}
</div>
<div class="container-nav">
  {{ data.dynamicConfigs['RestaurantsHeader'] }}
  {{ user.address.city | titlecase }}
</div>
<div class="container-nav" *ngFor="let restaurant of restaurants">
  <div>
    <div>
      <img src="{{ getMainPhoto(restaurant) }}" alt="No image" />
    </div>
    <div>
      {{ data.dynamicConfigs[restaurant.name] }}
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="goToRestaurant(restaurant.id)"
    >
      {{ data.dynamicConfigs['ViewMenu'] }}
    </button>
  </div>
</div>
