<delivery-client-navbar></delivery-client-navbar>
<div class="container-nav"></div>
<div class="border-box container-nav">{{ restaurant.name }}</div>
<div *ngIf="restaurant.restaurantPhotos.length === 1" class="container-nav">
  <img src="{{ restaurant.restaurantPhotos[0].url }}" alt="No image" />
</div>
<div *ngIf="restaurant.restaurantPhotos.length > 1" class="container-nav">
  <delivery-client-carousel
    [images]="getImagesUrls(restaurant)"
  ></delivery-client-carousel>
</div>
<div class="container-nav">
  <div *ngIf="restaurant.menuItems.length > 0">
    <div class="grid-container">
      <div class="container-nav" *ngFor="let item of restaurant.menuItems">
        <div class="grid-item">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{ item.itemName }}</mat-card-title>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <div>
                <img
                  mat-card-xl-image
                  src="{{ getMainPhoto(item) }}"
                  alt="No image"
                />
              </div>
              <div class="material-button">
                <button
                  class="card-button"
                  mat-raised-button
                  color="primary"
                  (click)="viewItemDetails(item.id)"
                >
                  View MenuItem Details
                </button>
              </div>

              <div class="material-button">
                <button
                  class="card-button"
                  mat-raised-button
                  color="primary"
                  (click)="addToCart(item)"
                >
                  Add to cart
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-nav" *ngIf="restaurant.menuItems.length === 0">
  This restaurant does not have menu items
</div>
<delivery-reviews
  [restaurantId]="restaurant.id"
  [rowData]="restaurant.reviews"
></delivery-reviews>
