<div class="container-nav"></div>
<div class="border-box container-nav">
  {{ data.dynamicConfigs[restaurant.name] }}
</div>
<div *ngIf="restaurant.restaurantPhotos.length === 1" class="container-nav">
  <img src="{{ restaurant.restaurantPhotos[0].url }}" alt="No image" />
</div>
<div *ngIf="restaurant.restaurantPhotos.length > 1" class="container-nav">
  <delivery-app-client-carousel
    [images]="getImagesUrls(restaurant)"
  ></delivery-app-client-carousel>
</div>
<div class="container-nav">
  <div *ngIf="restaurant.menuItemsRestaurants.length > 0">
    <div class="grid-container">
      <div
        class="container-nav"
        *ngFor="let item of restaurant.menuItemsRestaurants"
      >
        <div class="grid-item">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{
                  data.dynamicConfigs[item.menuItems.itemName]
                }}</mat-card-title>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <div>
                <img
                  mat-card-xl-image
                  src="{{ getMainPhoto(item.menuItems) }}"
                  alt="No image"
                />
              </div>
              <div class="material-button">
                <button
                  class="card-button"
                  mat-raised-button
                  color="primary"
                  (click)="viewItemDetails(item.menuItems.id)"
                >
                  {{ data.dynamicConfigs['ViewItem'] }}
                </button>
              </div>

              <div class="material-button">
                <button
                  class="card-button"
                  mat-raised-button
                  color="primary"
                  (click)="addToCart(item.menuItems)"
                >
                  {{ data.dynamicConfigs['Cart'] }}
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-nav" *ngIf="restaurant.menuItemsRestaurants.length === 0">
  {{ data.dynamicConfigs['NoItems'] }}
</div>
<delivery-app-client-reviews
  [restaurantId]="restaurant.id"
  [dynamicConfigs]="data.dynamicConfigs"
></delivery-app-client-reviews>
