<div class="container-fluid">Edit your offer details</div>

<form [formGroup]="offers" #f="ngForm" novalidate autocomplete="off">
  <div class="row-modal">
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Discount</mat-label>
        <input matInput type="number" formControlName="discount" />
      </mat-form-field>
    </div>

  </div>

  <div class="row-modal">
    <div class="column">
      <button mat-raised-button color="primary" (click)="editOffer()">
        Edit Offer
      </button>
    </div>
    <div class="column">
      <button mat-raised-button color="primary" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
