<div class="container">
  <div class="title">{{ data.dynamicConfigs['Header'] }}</div>
  <div class="content">
    <form
      [formGroup]="users"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
      autocomplete="off"
    >
      <div class="input">
        <mat-form-field appearance="outline">
          <mat-label>{{ data.dynamicConfigs['Password'] }}</mat-label>

          <input
            matInput
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            required
            minlength="8"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? 'visibility_off' : 'visibility'
          }}</mat-icon>
          <mat-error
            *ngIf="checkError('password', 'required') && language === 'EN'"
          >
            {{ error('Password', 'is required') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('password', 'required') && language === 'RO'"
          >
            {{ error('Parola', 'este necesara') }}
          </mat-error>

          <mat-error
            *ngIf="checkError('password', 'minlength') && language === 'EN'"
          >
            {{ error('Password', 'has min length of 8 characters') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('password', 'minlength') && language === 'RO'"
          >
            {{ error('Parola', 'are lungimea minima de 8 caractere') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('password', 'maxlength') && language === 'EN'"
          >
            {{ error('Password', 'has max length of 32 characters') }}
          </mat-error>
          <mat-error
            *ngIf="checkError('password', 'maxlength') && language === 'RO'"
          >
            {{ error('Parola', 'are lungimea maxima de 32 caractere') }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="button">
        <input type="submit" [value]="data.dynamicConfigs['ResetPassword']" />
      </div>
    </form>
  </div>
</div>
