<div class="navbar">
  <div class="item">
    <div class="fa fa-user" (click)="goToPage('profile')"></div>
    <div class="label">Profile</div>
  </div>

  <div class="item">
    <div>
      <mat-icon
        style="color: white"
        [matBadge]="itemInCart"
        matBadgeColor="warn"
        (click)="goToPage('cart')"
        >shopping_cart</mat-icon
      >
    </div>
    <div class="label">Shopping cart</div>
  </div>
  <div class="item">
    <div>
      <mat-icon style="color: white" (click)="goToPage('dashboard')"
        >dashboard</mat-icon
      >
    </div>
    <div class="label">Dashboard</div>
  </div>
  <div class="item">
    <div>
      <mat-icon style="color: white" (click)="goToPage('orders')"
        >receipt</mat-icon
      >
    </div>
    <div class="label">My orders</div>
  </div>
  <div class="item">
    <div class="fa fa-power-off" (click)="logout()"></div>
    <div class="label">Logout</div>
  </div>
</div>
